*{
    margin:0;
    margin-bottom: auto;
}
/* Header */
header{
    background-color: black;
    margin:0;
    padding:30px 0 30px 0px;
    width: 100%;
}
h1 {
    color:white;
    margin:0;
    text-align: center;
}
/* Section */
.scenery{
    border: solid 1px black;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    margin:02.5px 10px 10px 2.5px;
}

img{
    width: 240px;
    height: 240px;
}

figcaption {
    text-align: center;
}

.main{
    display: flex;
    flex-basis: 1;
    margin-bottom: 100px;
}
section {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Navigation */
aside {
    padding: 15px;
}
.cat{
    display:flex;
    padding: 0px 10px 0px 15px;
    width:auto;
}
a:hover{
    cursor: pointer;
}
h2 {
    color:black;
    bottom:0;
    left:0;
}
nav{
    position: sticky;
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    top:0;
    padding: 10px;
}

/* Footer */
footer{
    background-color: black;
    margin-top: auto;
    padding:30px 10px 10px 10px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
h3{
    color:white;
}