@media (max-width: 768px) {

    /*BLUE*/
    * {
        background-color: rgb(155, 155, 226);

    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: stretch;
    }

    nav{
        max-width: 100%;
    }
    aside{
       display: flex; 
       flex-direction: column;
       align-items: center;

    }
}


@media (min-width: 768px) {

    /*RED*/
    * {
        background-color: rgb(218, 93, 93);
    }

    .responsive {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-grow: 2;
        flex-wrap: wrap;
    }
    aside{
        max-width: 100%;
    }

}

@media (min-width: 1024px) {

    /*GREEN*/
    * {
        background-color: rgb(62, 214, 112);
    }

    .responsive {
        display: flex;
        justify-content: space-around;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 2;
    }
    aside{
        max-width: 20%;
    }


}