@media (max-width: 768px) {

    /*BLUE*/
    * {
        background-color: rgb(155, 155, 226);

    }
}


@media (min-width: 768px) {

    /*RED*/
    * {
        background-color: rgb(218, 93, 93);
    }

}

@media (min-width: 1024px) {

    /*GREEN*/
    * {
        background-color: rgb(62, 214, 112);
    }
}