#destination-container {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 .5em;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#destination-list {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: .5em;
}

.nav-img {
    display: flex;
    height: 100%;
    max-width: 200px;
    border-radius: 30px;
    background-color: transparent;
    z-index: 1;
}

.nav-img:hover {
    opacity: 0.5;
    z-index: 1;
    transition: .5s
}

.nav-caption {
    position: absolute;
    text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff;
    font-size: 1.5rem;
    z-index: 2;
    font-family: 'Anuphan', sans-serif;

}

.nav-caption:hover {
    opacity: 1;
    z-index: 2;
}

.destination-figure {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: transparent;
    border-radius: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}