@media screen and (min-width: 768px) {

    /*RED*/
    /* * {
        background-color: rgb(218, 93, 93);
    } */

    #destination-container {
        display: none;
    }

    main {
        flex-direction: row;
    }

    main>* {
        flex: 1 1 100%;
        flex-direction: row;
    }

    main>*:nth-child(2) {
        flex: 1 1 80%
    }

    main>*:nth-child(3) {
        flex: 1 1 20%
    }

    .nav-list-aside {
        flex-direction: column-reverse;
    }

    .thumbnail {
        flex: 40%;
    }

    #thumbnail-container {
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1024px) {

    /*GREEN*/
    /* * {
        background-color: rgb(62, 214, 112);
    } */

    .thumbnail {
        flex: 25%;
        /* max-width: 25%; */
        /* padding: 0 4px; */
    }

    #destination-container {
        display: flex;
    }

    .nav-list-aside {
        flex-direction: column-reverse;
    }

    .burger {
        display: none;
    }
    #thumbnail-container {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1200px) {
    * {
        background-color: rgb(1, 1, 1);
    }

    #destination-container {
        display: flex;
    }

    .nav-list-aside {
        flex-direction: column-reverse;
    }
}