/*BLUE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(155, 155, 226);

}

main {
    display: flex;
    justify-content: space-between;
}

/*! for testing only */
figure {
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    /* justify-content: ; */
    /* align-items: center; */
}

figcaption {
    align-self: center;
    pointer-events: none;
}

figcaption:hover {
    cursor: pointer;
}

#destination-container {
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
}

#destination-list {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.nav-img {
    height: 100px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);
}

.nav-img {
    cursor: pointer;
}

.fig-links {
    transform: translateY(-70px);
    text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff;
    font-size: 1.5rem;
}

.fig-pic {
    font-size: 2rem;
}

#api-img {
    border-radius: 30px;
}

.scenery:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: rgb(39, 37, 37);
    width: 100%;
    height: 10rem;
    top: 0px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    background: linear-gradient(90deg, rgba(2, 2, 2, 1) 0%, rgba(121, 9, 101, 1) 48%, rgba(3, 53, 155, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#destination-h2 {
    text-align: center;
    position: sticky;
    top: 0px;
    padding: 1rem;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);
    background-color: black;
    z-index: 3;
}



figcaption {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    color: black;
    font-size: small;
    font-weight: bold;

}

.nav-list {
    border: solid 1px black;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#thumbnail-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    background: linear-gradient(90deg, rgba(2, 2, 2, 1) 0%, rgba(121, 9, 101, 1) 48%, rgba(3, 53, 155, 1) 100%);
    width: 100%;
    height: 3rem;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

address {
    background-color: rgb(165, 73, 133);
    border: solid 1px black;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

p {
    color: rgb(209, 217, 94);
    background-color: transparent;
}

h1 {
    color: rgb(209, 217, 94);
    background-color: transparent;
}

h2 {
    color: rgb(209, 217, 94);
    background: black;
}

iframe {
    display: flex;
    width: 65vw;
    height: 54vh;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, .25);
}

#modal-close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: rgb(213, 211, 211);
    z-index: 11;
    font-size: 3rem;
    font-weight: bold;
}

#modal-close:hover {
    cursor: pointer;
    scale: 1.1;
    transition-duration: 0.2s;
}

#modal-content {
    width: auto;
    height: 70%;
}

#modal-caption {
    color: rgb(224, 223, 223);
    font-size: 2rem;
}

#modal-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 12;
}

#view-list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 25vw;
}

.nav-list-aside{
    display: flex;
    flex-direction: column-reverse;
}