.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    background-color: #FBF3F2;
}

.a-title {
    text-decoration: none;
}

.h2-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.1s ease-in-out;
    font-family: 'Courgette', cursive;
    text-decoration: none;
}


.wbs-logo {
    width: 20rem;
}

