.video-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
  }
  
  .video-container video {
    max-height: 80vh;
    width: 80%;
    height: auto;
    transition: opacity 0.2s ease;
  }
  
  .video-container:hover video {
    opacity: 0.7;
  }
  
  .video-container video:focus,
  .video-container video:active {
    opacity: 1;
  }
  