.search-btn {
    background-color: #0196bb;
    color: #040404;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .search-btn:hover {
    background-color: #006882;
  }
  